﻿@using _147SupinfyWebRole.Models;
@model ApplicationUser
@{
    ViewBag.Title = "UserPage";
}
<br />
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3" style="text-align: center;">
        <div style="border: 2px solid; border-radius: 5px;">
            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
        <label>@Model.FirstName @Model.LastName</label>
        <span class="pull-right">Date de création : @Model.CreationDate</span>
        <br />
        <span>Rôle : @Model.Role</span>
        @using (Html.BeginForm("Follow", "User", FormMethod.Post, new { id = Model.Id }))
        {
            <button type="submit" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
        }
    </div>
</div>
<br />

@if (Model.Role.Equals(UserRole.Administrator))
{
    @*Admin*@
    <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Edit</button>
        <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>Delete</button>
    </div>
}


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:grey">
                        <th>
                            Playlist
                            <div class="btn-group pull-right" role="group">
                                <a href="@Url.Action("Create", "Playlist")" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                @*<a href="" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="@Url.Action("Delete", "Playlist")" class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></a>*@
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var playlist in Model.Playlists)
                    {
                        <tr>
                            <td>
                                @playlist.Name
                                <div class="btn-group pull-right" role="group">
                                    <a href="@Url.Action("Details","Playlist", new { id = playlist.Id })" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="@Url.Action("Delete", "Playlist", new { id = playlist.Id })" class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:grey">
                        <th>
                            Friends
                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ApplicationUser following in Model.Following)
                    {
                        <tr>
                            <td>@following.FirstName @following.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
