﻿@model _147SupinfyWebRole.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome on Supinfy !</h1>
<h4>Listen to the 10 most listened musics in the Supinfy community for free !</h4>
@foreach (var music in Model.musics)
{
    <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=@music.Url"> </iframe>
}