﻿@model _147SupinfyWebRole.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}
<h1>Results</h1>

@foreach (var music in Model.musics)
{
    <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=@music.Url"> </iframe>
}

@foreach (var user in Model.users)
{
    <a href="@Url.Action("Show", "User",new { id = @user.Id })">@user.FirstName @user.LastName</a>
}
