﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-group" style="top:7px;">
                <a class="btn btn-primary" href="@Url.Action("Show", "User",new { id = User.Identity.GetUserId() })"><i class="fa fa-user fa-lg" aria-hidden="true"></i>   @User.Identity.GetUserName()</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down" title="Toggle dropdown menu"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="editLink" href="@Url.Action("Index", "Manage", routeValues: null)"><i class="fa fa-cog fa-lg" aria-hidden="true"></i>   Edit</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off fa-lg" aria-hidden="true"></i>   Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-group" style="top:7px;">
                <a id="registerLink" class="btn btn-primary" href="@Url.Action("Register", "Account", routeValues: null)"><i class="fa fa-user fa-lg" aria-hidden="true"></i>  Register</a>
                <a id="loginLink" class="btn btn-primary" href="@Url.Action("Login", "Account", routeValues: null)"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>  Log In</a>
            </div>
        </li>
    </ul>
}
