﻿@model _147SupinfyWebRole.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name:</dt>
        <dd>
            [@Html.ActionLink("Change your first name", "ChangeFirstName")]
        </dd>
        <dt>Last Name:</dt>
        <dd>
            [@Html.ActionLink("Change your last name", "ChangeLastName")]
        </dd>
        <dt>Email:</dt>
        <dd>
            [@Html.ActionLink("Change your email", "ChangeEmail")]
        </dd>
        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change your password", "ChangePassword")]
        </dd>        
    </dl>
</div>
