﻿@using _147SupinfyWebRole.Models
@model _147SupinfyWebRole.Models.Playlist
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Playlist</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Musics)
        {
            <tr>
                <td>
                    @foreach (var music in Model.Musics)
                    {
                        <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=@music.Url"> </iframe>
                    }
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="Delete" class="btn btn-default" />
}
