﻿@using _147SupinfyWebRole.Models
@model _147SupinfyWebRole.Models.Playlist
@{
    ViewBag.Title = "Details";
}

<h2>Playlist</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            <div class="pull-right">
                <a href="@Url.Action("Create", "Music", new { id = Model.Id })" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Add music</a>
            </div>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Musics)
    {
        <tr>
            <td>
                @foreach (var music in Model.Musics)
                {
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=@music.Url"> </iframe>
                }
            </td>
        </tr>
    }
    
</table>

<a href="@Url.Action("Show","User", new { id = Model.Owner.Id })">Back to profile</a>